<div class="px-80 py-5">
    <h1 class="text-2xl font-bold mb-10">Create a new page for your business</h1>

    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
        <input type="text" formControlName="name" placeholder="name of page" class="border p-1">
        <input type="text" formControlName="category" placeholder="category of page (eg. Clothing, Teaching, Food)" class="border p-1">

        <button class="bg-black text-white cursor-pointer flex justify-center p-1" type="submit">
            @if(loading) {
                <app-loading></app-loading>
            } @else {
                Create Page            }
        </button>
    </form>
</div>