<div class="px-20">
    <h1 class="font-bold mb-5 text-lg">Page Details</h1>
    <app-page-card [name]="page().name" [category]="page().category"></app-page-card>

    <div class="flex justify-between items-center mb-5 mt-10">
        <h1 class="font-bold  text-lg">Active campaigns</h1>
        <button class="bg-black text-white px-4 py-1 cursor-pointer" (click)="createCampaign()">Create new</button>
    </div>

    <div *ngIf="camp() && camp().length > 0" class="flex flex-col gap-5">
        <div class="flex justify-between px-4">
            <h1 class="w-1/5">Name</h1>
            <h1 class="w-1/5">Type</h1>
            <h1 class="w-1/5">Budget</h1>
            <h1 class="w-1/5">Spent</h1>
            <h1 class="w-1/5">Remaining</h1>
        </div>
            <div *ngFor="let camp of camp()" >
                <app-campaign-detail [id]="camp.id" [name]="camp.name" [type]="camp.budget_type" [amount]="camp.budget_amount" [spent]="camp.amount_spent" [remaining]="camp.remaining_budget || camp.budget_amount"></app-campaign-detail>
            </div>
    </div>
</div>
  