<div class="px-60">
  <h1 class="text-lg font-bold mb-10">Edit campaign</h1>

  <form action="" class="flex flex-col gap-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" [value]="camp().name" formControlName="name" placeholder="campaign name" class="border p-1" />
    <input
    [value]="camp().objective"
      type="text"
      formControlName="objective"
      placeholder="campaign objective (eg. growth)"
      class="border p-1"
    />
    <input
    [value]="camp().type"
      type="text"
      formControlName="type"
      placeholder="budget type (daily, standard)"
      class="border p-1"
    />
    <input type="number" [value]="camp().amount" formControlName="amount" placeholder="budget amount" class="border p-1" />
    <i>update end date of campaign</i>
    <input type="date" [value]="camp().end_date" formControlName="end_date" placeholder="end date" class="border p-1" />
    <button class="bg-black text-white cursor-pointer flex justify-center p-1" type="submit">
      @if(loading) {
        <app-loading></app-loading>
      } @else {
        Update Campaign
      }
    </button>
  </form>
</div>
