<div class="flex flex-col md:flex-row">

  <div class="w-full md:w-1/2 flex items-center justify-center mt-10 md:mt-30 flex-col gap-10 px-6">
    <h1 class="text-lg font-bold text-center">Login to your account</h1>
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-5 w-full max-w-sm">
      <input type="email" formControlName="email" placeholder="Email" class="border p-1" />
      <input type="password" formControlName="password" placeholder="Password" class="border p-1"/>

      <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched"> Invalid email </span>

      <button type="submit" [disabled]="form.invalid || loading()" class="bg-black text-white cursor-pointer p-1 flex justify-center">
        @if(loading()) {
          <app-loading></app-loading>
        } @else {
          Submit
        }
      </button>
    </form>
    <h1>Don't have an account? <button [routerLink]="['/signup']" class="text-blue-600 inline cursor-pointer">Sign up</button></h1>
  </div>

  <div class="w-full md:w-1/2 flex justify-center flex-col px-6 mt-10 md:mt-30 pb-16 md:pb-0">
    <h1 class="text-3xl md:text-4xl font-bold">Grow your business <br> with us.</h1>
    <p class="mt-2">Get ready to be paired with thousands of our partners</p>
  </div>

  @if(errMsg()) {
    <app-error [error]="errMsg()"></app-error>
  }
</div>