<div class="flex">
  <div class="w-1/2 flex items-center justify-center flex-col mt-30 gap-10">
    <h1 class="text-lg font-bold text-center">Create a new account</h1>
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
      <input type="text" formControlName="name" placeholder="Name" class="border p-1" />
      <input type="email" formControlName="email" placeholder="Email" class="border p-1" />
      <input type="password" formControlName="password" placeholder="Password" class="border p-1" />

      <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Invalid email</span>

      <button type="submit" [disabled]="form.invalid" class="bg-black text-white cursor-pointer flex justify-center p-1">
        @if(loading()) {
          <app-loading></app-loading>
        } @else {
          Sign up
        }
      </button>
    </form>
    <h1>
      Already have an account?
      <button [routerLink]="['/login']" class="text-blue-600 inline cursor-pointer">
        Sign in
      </button>
    </h1>
  </div>
  <div class="w-1/2 flex justify-center flex-col mt-30">
    <h1 class="text-4xl font-bold">
      Grow your business <br />
      with us.
    </h1>
    <h1 class="">Get ready to be paired with thousands of our partners</h1>
  </div>

  @if(errMsg()) {
    <app-error [error]="errMsg()"></app-error>
  }
</div>
